AutoAI_flow.json
[{"id":"191e565f.b1244a","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"d8f5eedd.2969a","type":"function","z":"191e565f.b1244a","name":"PreToken","func":"global.set(\"year\",msg.payload.year)\nglobal.set(\"adltmor\",msg.payload.adltmor)\nglobal.set(\"infdeath\",msg.payload.infdeath)\nglobal.set(\"alcohol\",msg.payload.alcohol)\nglobal.set(\"perexp\",msg.payload.perexp)\nglobal.set(\"hepb\",msg.payload.hepb)\nglobal.set(\"measles\",msg.payload.measles)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"ufd\",msg.payload.ufd)\nglobal.set(\"polio\",msg.payload.polio)\nglobal.set(\"totalexp\",msg.payload.totalexp)\nglobal.set(\"dip\",msg.payload.dip)\nglobal.set(\"hivaids\",msg.payload.hivaids)\nglobal.set(\"thinone\",msg.payload.thinone)\nglobal.set(\"thinfive\",msg.payload.thinfive)\nglobal.set(\"incres\",msg.payload.incres)\nglobal.set(\"sch\",msg.payload.sch)\nvar apikey=\"Qwg7NXlnJ6B2n-DEu4HQcSdiQr14THwEI0KjbJRKhJDN\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":300,"wires":[["40747b03.fed204"]]},{"id":"40747b03.fed204","type":"http request","z":"191e565f.b1244a","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":210,"y":440,"wires":[["ef993043.249a2"]]},{"id":"70a639d0.df1a78","type":"inject","z":"191e565f.b1244a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":140,"wires":[["d8f5eedd.2969a"]]},{"id":"beb5771d.0fa5f8","type":"debug","z":"191e565f.b1244a","name":"status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":220,"wires":[]},{"id":"ef993043.249a2","type":"function","z":"191e565f.b1244a","name":"Pre Prediction","func":"var year = global.get(\"year\")\nvar adltmor = global.get(\"adltmor\")\nvar infdeath = global.get(\"infdeath\")\nvar alcohol = global.get(\"alcohol\")\nvar perexp = global.get(\"perexp\")\nvar hepb = global.get(\"hepb\")\nvar measles = global.get(\"measles\")\nvar bmi = global.get(\"bmi\")\nvar ufd = global.get(\"ufd\")\nvar polio = global.get(\"polio\")\nvar totalexp = global.get(\"totalexp\")\nvar dip = global.get(\"dip\")\nvar hivaids = global.get(\"hivaids\")\nvar thinone = global.get(\"thinone\")\nvar thinfive = global.get(\"thinfive\")\nvar incres = global.get(\"incres\")\nvar sch = global.get(\"sch\")\nvar token=msg.payload.access_token\nvar instance_id=\"516ce7de-7708-43d2-8e8a-c088cdf276e0\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload = {\"fields\": [\"Year\", \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \" thinness  1-19 years\", \" thinness 5-9 years\", \"Income composition of resources\", \"Schooling\"], \"values\": [[year,adltmor,infdeath,alcohol,perexp,hepb,measles,bmi,ufd,polio,totalexp,dip,hivaids,thinone,thinfive,incres,sch]]}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":200,"wires":[["e4e8416b.a374f"]]},{"id":"e4e8416b.a374f","type":"http request","z":"191e565f.b1244a","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/516ce7de-7708-43d2-8e8a-c088cdf276e0/deployments/2fa3b583-22fe-4f47-bb7f-f827e6cd3afe/online","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":320,"wires":[["b8ed3647.afa4b8"]]},{"id":"f2d561f3.55555","type":"ui_form","z":"191e565f.b1244a","name":"","label":"","group":"a2236dc1.afa4d","order":0,"width":0,"height":0,"options":[{"label":"Year","value":"year","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"adltmor","type":"number","required":true,"rows":null},{"label":"Infant Deaths","value":"infdeath","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"alcohol","type":"number","required":true,"rows":null},{"label":"Percentage Expenditure","value":"perexp","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"hepb","type":"number","required":true,"rows":null},{"label":"Measles","value":"measles","type":"number","required":true,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"Under-five deaths","value":"ufd","type":"number","required":true,"rows":null},{"label":"Polio","value":"polio","type":"number","required":true,"rows":null},{"label":"Total Expenditure","value":"totalexp","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"dip","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"hivaids","type":"number","required":true,"rows":null},{"label":"Thinness 1-19 years","value":"thinone","type":"number","required":true,"rows":null},{"label":"Thinness 5-9 years","value":"thinfive","type":"number","required":true,"rows":null},{"label":"Income Composition of Resources","value":"incres","type":"number","required":true,"rows":null},{"label":"Schooling","value":"sch","type":"number","required":true,"rows":null}],"formValue":{"year":"","adltmor":"","infdeath":"","alcohol":"","perexp":"","hepb":"","measles":"","bmi":"","ufd":"","polio":"","totalexp":"","dip":"","hivaids":"","thinone":"","thinfive":"","incres":"","sch":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":200,"wires":[["d8f5eedd.2969a"]]},{"id":"698c52ff.f9662c","type":"ui_text","z":"191e565f.b1244a","group":"a2236dc1.afa4d","order":1,"width":0,"height":0,"name":"","label":"Life Expectancy","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":360,"wires":[]},{"id":"b8ed3647.afa4b8","type":"function","z":"191e565f.b1244a","name":"Get Prediction","func":"msg.payload=msg.payload.values[0][0][0]\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":420,"wires":[["beb5771d.0fa5f8","698c52ff.f9662c"]]},{"id":"a2236dc1.afa4d","type":"ui_group","z":"","name":"Default","tab":"c28cfcb4.fc9a5","order":1,"disp":true,"width":"6","collapse":false},{"id":"c28cfcb4.fc9a5","type":"ui_tab","z":"","name":"Life Expectancy","icon":"dashboard","disabled":false,"hidden":false}]