ML_flow.json
[{"id":"f80c9172.13372","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"b3845a6.50964a8","type":"function","z":"f80c9172.13372","name":"PreToken","func":"global.set(\"year\",msg.payload.year)\nglobal.set(\"adltmor\",msg.payload.adltmor)\nglobal.set(\"infdeath\",msg.payload.infdeath)\nglobal.set(\"alcohol\",msg.payload.alcohol)\nglobal.set(\"perexp\",msg.payload.perexp)\nglobal.set(\"hepb\",msg.payload.hepb)\nglobal.set(\"measles\",msg.payload.measles)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"ufd\",msg.payload.ufd)\nglobal.set(\"polio\",msg.payload.polio)\nglobal.set(\"totalexp\",msg.payload.totalexp)\nglobal.set(\"dip\",msg.payload.dip)\nglobal.set(\"hivaids\",msg.payload.hivaids)\nglobal.set(\"thinone\",msg.payload.thinone)\nglobal.set(\"thinfive\",msg.payload.thinfive)\nglobal.set(\"incres\",msg.payload.incres)\nglobal.set(\"sch\",msg.payload.sch)\nvar apikey=\"WTVQ2RweanCOmkHmEGat5LYZsFHjg7d99T_CN57vKd46\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":201,"y":236,"wires":[["bd06709c.a8b53"]]},{"id":"bd06709c.a8b53","type":"http request","z":"f80c9172.13372","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":211,"y":376,"wires":[["c8a5481a.c24448"]]},{"id":"df4918d3.0fa498","type":"inject","z":"f80c9172.13372","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":121,"y":76,"wires":[["b3845a6.50964a8"]]},{"id":"1aa946f2.b19609","type":"debug","z":"f80c9172.13372","name":"status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":671,"y":156,"wires":[]},{"id":"c8a5481a.c24448","type":"function","z":"f80c9172.13372","name":"Pre Prediction","func":"var year = global.get(\"year\")\nvar adltmor = global.get(\"adltmor\")\nvar infdeath = global.get(\"infdeath\")\nvar alcohol = global.get(\"alcohol\")\nvar perexp = global.get(\"perexp\")\nvar hepb = global.get(\"hepb\")\nvar measles = global.get(\"measles\")\nvar bmi = global.get(\"bmi\")\nvar ufd = global.get(\"ufd\")\nvar polio = global.get(\"polio\")\nvar totalexp = global.get(\"totalexp\")\nvar dip = global.get(\"dip\")\nvar hivaids = global.get(\"hivaids\")\nvar thinone = global.get(\"thinone\")\nvar thinfive = global.get(\"thinfive\")\nvar incres = global.get(\"incres\")\nvar sch = global.get(\"sch\")\nvar token=msg.payload.access_token\nvar instance_id=\"516ce7de-7708-43d2-8e8a-c088cdf276e0\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload= {\"input_data\": [{\"fields\": [\"Year\", \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \" thinness  1-19 years\", \" thinness 5-9 years\", \"Income composition of resources\", \"Schooling\"], \n                \"values\": [[year,adltmor,infdeath,alcohol,perexp,hepb,measles,bmi,ufd,polio,totalexp,dip,hivaids,thinone,thinfive,incres,sch]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":401,"y":136,"wires":[["e795526b.4ad61"]]},{"id":"e795526b.4ad61","type":"http request","z":"f80c9172.13372","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/331bad30-f5ce-4a37-bca4-b2ecd5b64840/predictions","tls":"","persist":false,"proxy":"","authType":"","x":431,"y":256,"wires":[["fb88e73e.f77888"]]},{"id":"577052f1.294dec","type":"ui_form","z":"f80c9172.13372","name":"","label":"","group":"a2236dc1.afa4d","order":0,"width":0,"height":0,"options":[{"label":"Year","value":"year","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"adltmor","type":"number","required":true,"rows":null},{"label":"Infant Deaths","value":"infdeath","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"alcohol","type":"number","required":true,"rows":null},{"label":"Percentage Expenditure","value":"perexp","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"hepb","type":"number","required":true,"rows":null},{"label":"Measles","value":"measles","type":"number","required":true,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"Under-five deaths","value":"ufd","type":"number","required":true,"rows":null},{"label":"Polio","value":"polio","type":"number","required":true,"rows":null},{"label":"Total Expenditure","value":"totalexp","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"dip","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"hivaids","type":"number","required":true,"rows":null},{"label":"Thinness 1-19 years","value":"thinone","type":"number","required":true,"rows":null},{"label":"Thinness 5-9 years","value":"thinfive","type":"number","required":true,"rows":null},{"label":"Income Composition of Resources","value":"incres","type":"number","required":true,"rows":null},{"label":"Schooling","value":"sch","type":"number","required":true,"rows":null}],"formValue":{"year":"","adltmor":"","infdeath":"","alcohol":"","perexp":"","hepb":"","measles":"","bmi":"","ufd":"","polio":"","totalexp":"","dip":"","hivaids":"","thinone":"","thinfive":"","incres":"","sch":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":111,"y":136,"wires":[["b3845a6.50964a8"]]},{"id":"33810707.953ee8","type":"ui_text","z":"f80c9172.13372","group":"a2236dc1.afa4d","order":1,"width":0,"height":0,"name":"","label":"Life Expectancy","format":"{{msg.payload}}","layout":"row-spread","x":721,"y":296,"wires":[]},{"id":"fb88e73e.f77888","type":"function","z":"f80c9172.13372","name":"Get Prediction","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":501,"y":356,"wires":[["1aa946f2.b19609","33810707.953ee8"]]},{"id":"a2236dc1.afa4d","type":"ui_group","z":"","name":"Default","tab":"c28cfcb4.fc9a5","order":1,"disp":true,"width":"6","collapse":false},{"id":"c28cfcb4.fc9a5","type":"ui_tab","z":"","name":"Life Expectancy","icon":"dashboard","disabled":false,"hidden":false}]